*{
    padding: 0;
    margin: 0;   
}

body{   
    background-color: white;    
    padding-left: 22px;
    font: normal 20px arial;    
}

nav{
    font: bold 18px Roboto;    
}

nav ul{
    background-color: #252527;
    text-align: center;    
}

nav ul li{
    display: inline;    
    position: relative;
}

nav ul li a{    
    color: white;
    text-decoration: none;
    padding: 20px 40px;  
    display: inline-block; 

}

nav ul li a:hover{
    background-color:#188be9;
}

nav ul li:hover ul{
    display: block;
}

.sub-menu {
    display: none;   
    position: absolute;
    left: 0%;
}

#fixo{
    background-color:#188be9;
}

#banner img{
    height: 470px;
    width: 100%;
}

#grupo{
    width: 1400px;
    margin: 0 auto;
    padding: 50px;
    margin-bottom: 50px;   
}

.texto{   
    padding: 25px;
    width: 397px;
    height: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: justify;
    color: #808080;
    }

.titulo{
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    color:#188be9;   
    }

#id1, #id2, #id3{
 display: inline-block;   
}

footer{
   clear: both;
    background-color: #188be9;
    color:white;
    padding: 70px;
    font-size: 20px;
    text-align: center;    
}

.texto:hover{
    background-color: #f3f3f3;
    border-radius: 2%;
}