*{
    padding: 0;
    margin: 0;   
}

body{   
    background-color: white;    
    padding-left: 22px;
    font: normal 20px arial;    
}

nav{
    font: bold 18px Roboto;    
}

nav ul{
    background-color: #252527;
    text-align: center;    
}

nav ul li{
    display: inline;    
    position: relative;
}

nav ul li a{    
    color: white;
    text-decoration: none;
    padding: 10px 30px;  
    display: inline-block;     
}

nav ul li a:hover{
    background-color:#188be9;
}

.sub-menu{
    display: none;   
}

nav ul li:hover ul{
    display: block;
}

.sub-menu {
    position: absolute;
    left: 0%;
}

#fixo{
    background-color:#188be9;
}

.texto{
    margin: 50px 200px 50px;
    color: #808080;
    text-align: justify;
}

.texto h1{
    font-size: 28px;
    text-align: center;
    color: #188be9;
    margin-bottom: 10px;
}
.container{
    margin: 50px 200px 50px;
    text-align: center;
}


.imagem{
    position: relative;
    display: inline-block;
}

img{
    height: 200px;
    width: 300px;
    display: inline-block;
}

.nome-img{
    position: absolute;
    background-color: #188be9;  
    bottom: 10px;
    padding: 10px;
}

footer{
   clear: both;
    background-color: #188be9;
    color:white;
    padding: 70px;
    font-size: 20px;
    text-align: center;    
}

