body{
    font-family: 'Poppins', sans-serif;
    background-color: darkgray;
}
header{
    color:aliceblue;
    font-size: 25px;
}
#curriculo{
    background-color: blanchedalmond;
    width: 450px;
    height: 150px;
    text-align: center;
    line-height: 70px;
}

#curriculo a{
    color: green;
    font: bold 32px Poppins;
}