body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(250, 246, 186);
    color: #800000 ;
}


.imagem{
    width: 300px;
    height: 300px;
    margin: 0 auto;   
}

.img{
    height: 300px;
    width: 300px;   
}
.texto{
    
    width: 700px;
    margin: 0 auto;
}

p{
    color: #800000;
    text-align: center;
    font-size: 28px;
}

.texto a{
    color: #c40b0b;
}

.voltar{
    color: #808080;
    font-weight: bold;
}