body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    font-family: 'Martel Sans', sans-serif;
   
}

.container{
    max-width: 1200px important;
}
.bloco{
    border-bottom: 5px solid#555;
    padding: 30px 0px;
}
.bloco .titulo{
    font-size: 45px;
    font-weight: 600;
    }

.bloco .chamada{
   font-size: 20px;
}    

.img-fluid{
    
 
    
}